# entorno
.venv/
__pycache__/
*.pyc
*.pyo
.python-version

# datos (no subir al repo)
data/raw/
data/processed/

# modelos entrenados
*.pt
*.pth
*.onnx
artifacts/

# wandb
wandb/

# jupyter
.ipynb_checkpoints/

# IDEs
.venv/
.cursor/
.vscode/
*.code-workspace

# variables de entorno
.env

# logs
tea_debug.log